.hashHr {
    // border: 1px  black;
    height: 2px;
    width: 100%;
    background-image: linear-gradient(to right, rgb(148, 147, 147) 33%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 15px 2px;
    background-repeat: repeat-x;
}